# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="postgres://express_ts_pg:0c80139e6e6349eebc99fe7fcfc901e7@localhost:5432/express_ts_pg?sslmode=disable"
SUPABASE_CREDENTIALS='{"DEMO": {"url": "...", "key": "..."}}'
FIREBASE_CREDENTIALS="{}"
STATSIG_SECRET_KEY="HERE_YOUR_SECRET_KEY"
STATSIG_ENVIRONMENT="development"
